*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
  margin: 0;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  inline-size: 1140px;
  block-size: 534px;
  margin: auto;
  display: flex;
  align-items: flex-end;
  gap: 28px;
}

.result {
  inline-size: 711px;
  block-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.result__video-container {
  position: relative;
  inline-size: 100%;
  block-size: 386px;
  margin-block-end: 16px;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.search-form__fieldset {
  block-size: 54px;
  inline-size: 225px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
}

.search-form__fieldset + .search-form__fieldset {
  padding-inline-start: 6px;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
}

.search-form__label {
  inline-size: fit-content;
  display: flex;
}

.search-form__label:has(:focus-visible) {
  outline: 1px #fff solid;
  outline-offset: 2px;
}

.search-form__textfield {
  block-size: 27px;
  inline-size: 225px;
  background-color: transparent;
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  appearance: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-align: left;
  color: currentColor;
  cursor: text;
  padding-inline-start: 0;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: none;
}

.search-form__pseudo-checkbox {
  margin-inline-end: 5px;
  inline-size: 19px;
  block-size: 19px;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
  position: relative;
}

.search-form__checkbox-list .search-form__label:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 2px;
}

.search-form__checkbox:active + .search-form__pseudo-checkbox::before {
  content: "";
  display: block;
  inline-size: 15px;
  block-size: 15px;
  background-color: #fff;
  position: absolute;
  top: 1px;
  left: 1px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: "";
  display: block;
  inline-size: 15px;
  block-size: 15px;
  background-color: #fff;
  position: absolute;
  top: 1px;
  left: 1px;
}

.search-form__checkbox-list {
  inline-size: 213px;
  margin-block-end: 6px;
  display: flex;
  justify-content: space-between;
}

.search-form__checkbox-list .search-form__label {
  inline-size: 63px;
  block-size: 20px;
  align-items: center;
}

.search-form__checkbox-list .search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.button {
  padding: 0;
  background-color: transparent;
  border: 1px solid #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2px;
  text-align: center;
  color: #fff;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.button:active {
  background-color: rgba(84, 80, 80, 1);
  transition: background-color 0.1s ease-in-out;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  inline-size: 194px;
  block-size: 34px;
}

.content__details {
  block-size: 100%;
  flex-basis: 399px;
  flex-grow: 1;
}

.content__list {
  position: relative;
  block-size: 302px;
  overflow-y: auto;
}

.title {
  inline-size: 260px;
  block-size: 210px;
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 0.94;
  text-align: left;
  margin-inline-start: 2px;
  margin-block-start: 3px;
  margin-block-end: 21px;
  text-transform: uppercase;
}

.content__accent {
  color: rgba(84, 80, 80, 1);
}

.content__list li:not(:nth-last-child(-n + 2)) {
  margin-block-end: 31px;
}

.content__card-link {
  min-block-size: 107px;
  margin: 2px;
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 1px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current {
  background-color: rgba(84, 80, 80, 1);
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-description-container {
  margin: 4px 0 0 1px;
  padding-block-end: 2px;
  max-block-size: inherit;
  flex-basis: 200px;
  flex-grow: 1;
}

.content__video-card-title {
  inline-size: 199px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content__video-card-description {
  margin-block-start: 4px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 0.9;
  text-align: left;
  white-space: initial;
}

.content__video-card-thumbnail {
  margin: 2px;
  flex-basis: 194px;
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  margin-block-start: 31px;
  margin-block-end: 2px;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  inline-size: 399px;
  block-size: 34px;
}
